* {
    margin: auto;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(42, 45, 49);
    background-image: url("galaxy.jpg");
    background-size: 2200px;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    color: white;
    text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.763);
}
header a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* ----------------------------------profil-------------------------------- */
#profil {
    display: grid;
    overflow: hidden;
    grid-template: 50px 30px / 1fr 2fr;
    grid-template-areas: "img identity"
                         "img .";
}

#profilImg {
    width: 75px;
    border-radius: 100%;
    grid-area: img;
    
}

#identity {
    padding: 0 1px 0 5px;
    grid-area: identity;
}

.title, header span {
    display: flex;
    margin-left: 20px;
    margin-right: 5px;
}
.title {
    flex-direction: column;
}
.title p {
    color: gray;
}
/* ----------------------------------navBar---------------------------------- */
ul {
    background-color: rgba(255, 255, 255, 0.278);
    overflow: hidden;
    padding: 0;
    
}

li {
    float: left;
    list-style: none;
}

#network {
    float: right;
    border-left: 1px solid rgba(255, 255, 255, 0.329);
    padding: 0 10px 0 20px;
}
#network img{
    width: 38px;
    cursor: pointer;
}

.dropdown-content-right {
    min-width: 220px;
}

.dropdown-content-right img {
    padding: 10px;
}

.dropbtn {  /* a */
    display: inline-block;
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    text-shadow: 4px 4px 12px rgba(255, 255, 255, 0.752);
}

.dropdown:hover .dropbtn, .btnOn {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.548);
}

.btnOn {
    border-radius: 15px 5px 15px 5px;
}

.dropdown-content { /* div */
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.558);
    min-width: 150px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0);
    z-index: 10;
}

.dropdown-content a {
    color: black;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.952);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content h3 {
    font-size: 16px;
    padding: 8px;
}

.dropdown-content a:hover {background-color: rgba(255, 255, 255, 0.548);}

.dropdown:hover .dropdown-content {
    display: block;
}

#htmlWidth {
    width: 50px;
}
#cssWidth {
    width: 35px;
}
#jsWidth {
    width: 53px;
}
#jqueryWidth {
    width: 85px;
}
#pythonWidth {
    width: 40px;
}
#javaWidth {
    width: 35px;
}

/* ----------------------------principale-------------------------------- */
#principal {
    height: 95%;
}
section {
    display: block;
    height: 500px;
    z-index: 2;
}

.label {
    background-color: rgba(255, 255, 255, 0.178);
    width: 75%;
    max-width: 800px;
    height: 100%;
    /* box-shadow: 0px 0px 16px  rgba(255, 255, 255, 0.563); */
    border-radius: 20px;
    /* display: flex; */
    text-align: justify;
    transition: background-color 1s, box-shadow 1s;
}

.label h2 {
    color: black;
    padding: 8px 0 0 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.752);
}

.label div {
    opacity: 0;
    height: 70%;
    font-size: 20px;
    padding: 0 50px 0 50px;
    overflow: auto;
    transition: opacity 2s;
}

.label2 {
    position: relative;
    right:1.5%;
    top: 30px;
    z-index: 2;
}
.label2 div {
    padding-top: 12%;
}

.label3 {
    position: relative;
    left: 1.5%;
    bottom: 430px;
    z-index: 3;
}
.label3 div {
    padding-top: 12%;
}

.label:hover {
    z-index: 10;
    background-color: whitesmoke;
    box-shadow: 0px 0px 16px  rgba(0, 0, 0);
}

.label:hover div, .divOn {
    opacity: 1;
}

#progAccess {
    background-color: rgb(28, 26, 37);
    color: white;
    padding: 10px 16px;
    position: absolute;
    border-radius: 100px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}#progAccess:hover {
    box-shadow: 0 0 4px black;
}

/* -------------------------------CV---------------------------------- */

#containerCV, #containerFormation {
    width: 100%;
    height: 100%;
}

.containerOff {
    display: none;
}

.containerOn {
    display: block;
}

iframe {
    width: 100%;
    height: 100%;
}
